@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0; // Remove o espaçamento externo padrão dos navegadores
    padding: 0; // Remove preenchimento padrão
    box-sizing: border-box; // Inclui padding e borda no cálculo do tamanho
}

header {
    background-color: #66BB6A;
    height: 15vh;
    color: #ffffff;
    //padding-left: 50px; Padding move internamente, movendo da esquerda para a direita
    //padding-top: 25px; movendo internamente de cima para baixo
    //padding-bottom: 20px; movendo internamente de baixo para cima (comentar o padding top)
    //padding-right: 50px; Move internamente da direita para a esquerda

    // margin: 30px; Mostrar que a margin move toda a caixa, movendo os 4 lados (cima, direita, baixo, esquerda)
    // margin-top: 20px; // top - em cima
    // margin-left: 30px; // left - esquerda
    // margin-right: 50px; // right - direita
    // margin-bottom: 20px; // bottom -  embaixo
h2 {
        display: block; //Ocupa toda a linha
        display: inline; //Ocupa somente o tamanho necessário
        display: inline-block; // Deixa na mesma linha,e permite o controle de largura e altura
        width: 40%;
        padding-left: 160px;
        margin-top: 40px;
        font-family: "Sansita Swashed", system-ui;
    }

    /* O nav também é block por padrão, então muda o comportamento */


 nav {
        display: block; //Ocupa toda a linha
        display: inline; //Ocupa somente o tamanho necessário
        width: 40%; //Com o inline, ele não aceita tamanhos.
        display: inline-block; // Deixa namesma linha,e permite o controle de largura e altura
        text-align: end;

        a {
            margin-left: 40px; // espaço entre os links
            color: #ffffff;
            text-decoration: none; //Tira a estilização padrão da tag A
        }
    }
}

.background{
  background-image: url("./assets/banner.png");
  height: 50vh;
  background-repeat: no-repeat;
  color: #ffffff;
  text-align: center;
  background-position: center;
  background-size: cover;
  padding-top: 130px;
  h1{
    font-family: "Sansita Swashed", system-ui;
    font-size: 3rem;
    margin-bottom: 20px;
    
  }

  p{
    font-size: 1rem;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 500px;
    width: 34%;
  }

  button{
    background-color: #66BB6A;
    color:#ffffff;
    padding: 10px 30px;
    border: none;
    border-radius: 15px 15px 15px 15px;
    box-shadow:0 2px 6px rgba(0, 0, 0, 0.1);

    }
}
.cards{
  background-color: #F1F8E9;
  height: 70vh;
  width: 100%;
  text-align: center;
  display:inline-block;
  border: solid red;
  padding-top: 50px;
  

.card1{
  background-color: #FFFFFF;
  width: 20.1vw;
  height: 50vh;
  text-align: center;
  border-radius: 15px 15px 15px 15px;
  display:inline-block;
  

  img{
    width: 100%;
    border-radius:15px 15px 0 0;
  
  }
h3{
  margin-top: 20px;
  font-size: 1.50rem;
  
}
p{
  margin-bottom: 20px;
  font-size: 1rem;
  text-align: center;
  width: 15vw;
  //background-color: #66BB6A;
  margin-left: 35px;

}
button{
  background-color: #66BB6A;
  color:#FFFFFF;
  padding: 10px 30px;
  border: none;
  border-radius: 29px; 
  // para arredondar o botão
  box-shadow:0 2px 6px rgba(0, 0, 0, 0.1);
}
}
.card2{
  background-color: #FFFFFF;
  width: 20.1vw;
  height: 50vh;
  text-align: center;
  border-radius: 15px 15px 15px 15px;
  display: inline-block;

  img{
    width: 100%;
    border-radius:15px 15px 0 0;
  
  }
h3{
  margin-top: 20px;
  font-size: 1.50rem;
  
}
p{
  margin-bottom: 20px;
  font-size: 1rem;
  text-align: center;
  width: 15vw;
  margin-left: 35px;
  //background-color: #66BB6A;

}
button{
  background-color: #66BB6A;
  color:#FFFFFF;
  padding: 10px 30px;
  border: none;
  border-radius: 29px; 
  box-shadow:0 2px 6px rgba(0, 0, 0, 0.1);
}
}
.card3{
  background-color: #FFFFFF;
  width: 20.1vw;
  height: 50vh;
  text-align: center;
  border-radius: 15px 15px 15px 15px;
  display: inline-block;

  img{
    width: 100%;
    border-radius:15px 15px 0 0;
  
  }
h3{
  margin-top: 20px;
  font-size: 1.50rem;
  
}
p{
  margin-bottom: 20px;
  font-size: 1rem;
  text-align: center;
  width: 10vw;
  margin-left: 73px;
  //background-color: #66BB6A;

}
button{
  background-color: #66BB6A;
  color:#FFFFFF;
  padding: 10px 30px;
  border: none;
  border-radius: 29px; 
  box-shadow:0 2px 6px rgba(0, 0, 0, 0.1);
}
}

.card4{
  background-color: #FFFFFF;
  width: 20.1vw;
  height: 50vh;
  text-align: center;
  border-radius: 15px 15px 15px 15px;
  display: inline-block;

  img{
    width: 100%;
    border-radius:15px 15px 0 0;
  
  }
h3{
  margin-top: 20px;
  font-size: 1.50rem;
  
}
p{
  margin-bottom: 20px;
  font-size: 1rem;
  text-align: center;
  width: 14vw;
  margin-left: 45px;
 //background-color: #66BB6A;
}
button{
  background-color: #66BB6A;
  color:#FFFFFF;
  padding: 10px 30px;
  border: none;
  border-radius: 29px; 
  box-shadow:0 2px 6px rgba(0, 0, 0, 0.1);
}
}

}

.forms{
  background-color: #E8F5E9;
  height: 120vh;
  padding-top: 10vh;
  width:100%;
  

  h2{
    font-size: 3rem;
    font-family: "Roboto", sans-serif;
    text-align: center;

  }

  p{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    color:#767676;
    text-align: center;
    width: 55%;
    margin-left: 315px;
    margin-top: 2vh;
  }

  form{
    border:solid red;
    width: 50%;
    height:90vh;
    margin-left: 345px;
    margin-top: 2vh;

 div{
    font-size: 1.2rem;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    width: 40%;
    height:90vh;
    text-align: center;
    display: inline;

    fieldset{
  
    border-radius: 29px; 
    box-shadow:0 2px 6px rgba(0, 0, 0, 0.1);
    border: solid green;
    width: 100%;
    height: 10vh;
    text-align: center;
    margin-bottom:30px;

    label{
      border-radius: 29px; 
      display: block;
      text-align: left;
      padding-left: 20%;

    }
  }
}
  button{
    border-radius: 29px; 
    box-shadow:0 2px 6px rgba(0, 0, 0, 0.1);
     background-color: #66BB6A;
     color:#FFFFFF;
     padding: 20px 40px;
     border: none;
     width:100%;
     font-size: 1.2rem;
     font-family:"Roboto", sans-serif;
     font-weight: 400;
  }
}
}

footer{
  background-color: #66BB6A;
  font-family:"Roboto", sans-serif;
  color:#FFFFFF;
  text-align: center;
  height:15vh;
  padding: 10vh;
  font-weight: 400;
  font-size: 1rem;

}
